/* Smooth fade-in animation for result */
.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.first-name {
  border-radius: 50%;
  background-color: #89c7fabe;
}

.open-booking-modal {
  background-color: #3d74a1 !important;
  color: white !important;
}

.bg-white {
  background-color: white;
}

.bg-white h3 {
  color: #150366;
}
