{% extends "doctor/base.html" %} 
{% block title %}
Patients 
{% endblock %} 
{% block content %}
<div class="profile-container">
  <div class="profile-card">
    <!-- LEFT SIDE -->
    <div class="profile-left">
      {% if user.image %}
      <img src="{{ user.profile.image.url }}" alt="Doctor Image" />
      {% else %}
      <img src="https://img.freepik.com/free-photo/doctor-with-his-arms-crossed-white-background_1368-5790.jpg" alt="Doctor Image" />
      {% endif %}

      <h2>Dr. {{ user.get_full_name|default:user.username }}</h2>
      <p class="role">Doctor</p>
    </div>

    <!-- RIGHT SIDE -->
    <div class="profile-right">
      <h3>Profile Information</h3>

      <div class="info">
        <span>Username:</span>
        <p>{{ user.username }}</p>
      </div>

      <div class="info">
        <span>Email:</span>
        <p>{{ user.email }}</p>
      </div>

      <div class="info">
        <span>Specialization:</span>
        <p>{{ user.specialization|default:"Not set" }}</p>
      </div>

      <div class="info">
        <span>Phone:</span>
        <p>{{ user.phone|default:"Not set" }}</p>
      </div>

      <!-- ACTIONS -->
      <div class="actions">
        <a href="#" class="btn edit">Edit Profile</a>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}

          <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'logout' %}" class="btn logout">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}